a {
	color: #000000;
	text-decoration: none;
}
a:hover, a:focus {
	color: #ffffff;
}
.codrops-demos {
	padding-top: 1em;
	font-size: 0.8em;
}
.codrops-demos a {
	display: inline-block;
	margin: 0.35em 0.1em;
	padding: 0.5em 1.2em;
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	border-radius: 2px;
	font-size: 80%;
	border: 2px solid transparent;
}
.codrops-demos a:hover{
	color: white;
	border-color: white;
}
